<br/>
<h4>Play Render</h4>
<!-- Error message -->
<div class="row">
    <div class="col s12 center-align">
        <div ng-hide="!myValue" class="card-panel #f44336 red z-depth-0" ng-model="error">{{error}}</div>
    </div>
</div>
<table class="striped">
    <thead>
        <tr class="#42a5f5 blue lighten-1 z-depth-0">
            <td class="center-align white-text centered">Model</td>
            <td class="center-align white-text centered">View</td>
            <td class="center-align white-text centered">Controller</td>
            <td class="center-align white-text centered">Actions</td>
        </tr>
    </thead>
    <tbody>
        <tr class="white z-depth-0">
            <td>
                <select material-select watch ng-model="model" ng-options="m for m in modellist" ng-change="models(model)">
                    <option value=""></option>
                </select>
                <!--<input type="text" ng-model="model" placeholder="test"/>-->
            </td>
            <td>
                <input type="text" ng-model="view" placeholder="test.template.html" />
            </td>
            <td>
                <input type="text" ng-model="ctrl" placeholder="test.component.js" />
            </td>
            <td class="center">
                <a tooltipped class="#4caf50 green btn-floating btn-large waves-effect waves-light" ng-click="checkState(model,view,ctrl)"
                    data-position="top" data-delay="50" data-tooltip="Render!">
                    <i class="material-icons">send</i>
                </a>
                <a tooltipped class="btn-floating btn-large waves-effect waves-light blue" ui-sref="add" data-position="top" data-delay="50"
                    data-tooltip="Add new template!">
                    <i class="material-icons">add</i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<br />
<br />
<ui-view></ui-view>
<br />
<br />
<a ui-sref="home">Back</a>
