<head>
    <link ref="stylesheet" type="text/css" href="app/add-render/add-render.stylesheet.css">
</head>
<br/>
<h4>Add render</h4>
<!-- Error message -->
<div class="row">
    <div class="col s12 center-align">
        <div ng-hide="!myValue" class="card-panel #f44336 red z-depth-0" ng-model="error">{{error}}</div>
    </div>
</div>

<div class="row">
    <form ref='uploadForm' id='uploadForm' action='/uploadFiles' method='post' encType="multipart/form-data" target="hiddenFrame">
        <div class="input-field col s2" style="margin-top: 20px;">
            <input type="text" id="name">
            <label for="name">Render name</label>
        </div>
        <div class="file-field input-field col s4">
            <div class="btn waves-effect waves-light #9e9e9e grey" style="margin-left: 50px;">
                Select Sample Model
                <input tooltipped type="file" name="model" id="modelFile" data-position="top" data-delay="50" data-tooltip="Attach a .json file!"
                />
            </div>
        </div>
        <div class="file-field input-field col s3">
            <div class="btn waves-effect waves-light #9e9e9e grey">
                Select View
                <input tooltipped type="file" name="view" id="viewFile" data-position="top" data-delay="50" data-tooltip="Attach a .ang file!"
                />
            </div>
        </div>
        <div class="file-field input-field col s3" style="margin-left: -20px;">
            <div class="btn waves-effect waves-light #9e9e9e grey">
                Select Ctrl
                <input tooltipped type="file" name="ctrl" id="ctrlFile" data-position="top" data-delay="50" data-tooltip="Attach a .ctl file!"
                />
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="col s3 offset-s10">
            <button tooltipped class="btn waves-effect waves-light blue" type='submit' value='Upload!' ng-click="add()" data-position="top"
                data-delay="50" data-tooltip="Upload!" style="margin-left:-10px;">
                Add Render
            </button>
        </div>
    </form>
</div>
<br />
<br />
<div class="row">
    <div class="col s4">
        <button class="btn waves-effect waves-light #90caf9 blue lighten-3" ng-click="downloadModel()" style="margin-left:10%">
            Download example.json
        </button>
    </div>
    <div class="col s4">
        <button class="btn waves-effect waves-light #90caf9 blue lighten-3" ng-click="downloadView()" style="margin-left:10%">
            Download example.ang
        </button>
    </div>
    <div class="col s4">
        <button class="btn waves-effect waves-light #90caf9 blue lighten-3" ng-click="downloadCtrl()" style="margin-left:10%">
            Download example.ctl
        </button>
    </div>
</div>


<iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
<br />
<br />
<a ui-sref="renderizer">Back</a>