<br/>
<h4>Play render</h4>
<!-- Error message -->
<div class="row">
    <div class="col s12 center-align">
        <div ng-hide="!myValue" class="card-panel #f44336 red z-depth-0" ng-model="error">{{error}}</div>
    </div>
</div>
<div class="row">
    <div class="col s3 offset-s9">
        <a class="btn waves-effect waves-light blue" ui-sref="add-render">
            Add render
        </a>
    </div>
</div>
<br />
<table class="striped">
    <thead>
        <tr class="#42a5f5 blue lighten-1 z-depth-0">
            <td class="center-align white-text centered">Name</td>
            <td class="center-align white-text centered">Sample Model</td>
            <td class="center-align white-text centered">View</td>
            <td class="center-align white-text centered">Controller</td>
            <td class="center-align white-text centered">Actions</td>
        </tr>
    </thead>
    <tbody>
        <tr class="white z-depth-0">
            <td>
                <select material-select watch ng-model="id" ng-options="i for i in idlist" ng-change="ids(id)">
                    <option value=""></option>
                </select>
            </td>
            <td>
                <a ng-click="downloadModel(model)" ng-model="model"><div style="width: 210px;word-wrap: break-word;">{{model}}</div></a>
            </td>
            <td>
                <a ng-click="downloadView(view)" ng-model="view"><div style="width: 210px;word-wrap: break-word;">{{view}}</div></a>
            </td>
            <td>
                <a ng-click="downloadCtrl(ctrl)" ng-model="ctrl"><div style="width: 210px;word-wrap: break-word;">{{ctrl}}</div></a>
            </td>
            <td class="center">
                <a class="#4caf50 green btn waves-effect waves-light" ng-click="checkState(id,model,view,ctrl)">
                    Render
                </a>
            </td>
        </tr>
    </tbody>
</table>
<br />
<br />
<ui-view></ui-view>
<br />
<br />
<a ui-sref="home">Back</a>