
.loading {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
  }
  
  .preloader-background {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #eee;
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;	
  }
  
  .btn-margin {
    margin-right: 20px;
    width: 80px;
    height: 67px;
  }
  
  .brand-logo{
    margin-left: 20px;
  }
  
  .dropdown-content {
    background-color: #FFFFFF;
    margin: 0;
    display: none;
    min-width: 130px; /* Changed this to accomodate content width */
    max-height: auto;
    margin-left: 20px; /* Add this to keep dropdown in line with edge of navbar */
    overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
    opacity: 0;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    will-change: width, height;
  }
  
  .avatar{
    width: 100%;
    margin-top:7px;
  }
  