<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light row">
  <div ng-if="vm.auth.isAuthenticated()">
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large col-md-1 col-xl-1">
      <i class="material-icons black-text" style="margin-top:10px;">menu</i>
    </a>
  </div>
  <div>
    <a ui-sref="home" class="brand-logo col-xl-1 col-md-1 offset-md-1 offset-xl-1" ng-click="deleteRoot()">
      <img src="../../../img/appLogoBig.png" style="width:110px; height: 16px;">
    </a>
  </div>
  <div class="col-xl-1 col-md-1 offset-md-10 offset-xl-10">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="btn btn-margin" ng-if="!vm.auth.isAuthenticated()" ng-click="vm.auth.login()">
          <span style="color: black;">Sign in</span>
        </a>
      </li>
      <li class="nav-item dropdown" ng-if="vm.auth.isAuthenticated()">
        <a class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img ng-src="{{ vm.profile.picture }}" class="rounded-circle avatar" style="width: 40px; margin-top:-5px;" alt="avatar">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-left:-75px;margin-top:10px;">
          <a class="dropdown-item text-left" ng-if="vm.auth.isAuthenticated()" ui-sref="profile">
            <i class="material-icons left" style="vertical-align: top !important;">perm_identity</i> Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-left" ng-if="vm.auth.isAuthenticated()" ng-click="vm.auth.logout()">
            <i class="material-icons left" style="vertical-align: top !important;">exit_to_app</i> Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>