<script type="text/javascript" src="../../js/dropdown.js"></script>

<!--Navbar-->
<div class="row">
  <nav>
    <div class="nav-wrapper #f5f5f5 grey lighten-4">
      <div ng-if="vm.auth.isAuthenticated()">
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large">
          <i class="material-icons black-text" style="margin-top:2px;">menu</i>
        </a>
      </div>
      <div class="col s3">
        <a ui-sref="home" class="brand-logo" ng-click="deleteRoot()">
          <img src="../../../img/appLogoBig.png" style="width:110px; height: 16px;">
        </a>
      </div>
      <div class="col s1 offset-s7">
        <ul id="nav-mobile">
          <li>
            <a class="btn-margin" ng-if="!vm.auth.isAuthenticated()" ng-click="vm.auth.login()">
              <span style="color: black;">Sign in</span>
            </a>
          </li>
          <li>
            <a class="btn-margin dropdown-button" data-activates='dropdown' data-beloworigin="true" ng-if="vm.auth.isAuthenticated()">
              <img ng-src="{{ vm.profile.picture }}" class="circle avatar" alt="avatar">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- Dropdown Structure -->
<ul id='dropdown' class='dropdown-content'>
  <li>
    <a ng-if="vm.auth.isAuthenticated()" ui-sref="profile">
      <i class="material-icons left">perm_identity</i>Profile
    </a>
  </li>
  <li>
    <a ng-if="vm.auth.isAuthenticated()" ng-click="vm.auth.logout()">
      <i class="material-icons left">exit_to_app</i>Log out
    </a>
  </li>
</ul>

