<br />
<!-- Profiles -->
<!-- Google Profile -->
<div class="profile-area" ng-if="tProfile=='google'">
  <div class="text-center">
    <h5>
      <i class="material-icons">person</i>
      <span class="nickname">{{ vm.profile.nickname }}</span>
    </h5>
    <img ng-src="{{ vm.profile.picture }}" class="rounded-circle" alt="avatar">
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr class="text-white bg-primary">
          <td>Group member</td>
          <td>{{ vm.profile.name }}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{ vm.profile.given_name }}</td>
        </tr>
        <tr>
          <td>Surname</td>
          <td>{{ vm.profile.family_name }}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td class="gender">{{ vm.profile.gender }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Twitter Profile -->
<div class="profile-area" ng-if="tProfile=='twitter'">
  <div class="text-center">
    <h6>
      <i class="material-icons">person</i>
      <span class="nickname">{{ vm.profile.nickname }}</span>
    </h6>
    <img ng-src="{{ vm.profile.picture.split('_')[0] }}_{{ vm.profile.picture.split('_')[1] }}_400x400.jpg" class="rounded-circle"
      alt="avatar">
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr class="text-white bg-primary">
          <td>Group member</td>
          <td>{{ vm.profile.name }}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{ vm.profile.name.split(' ')[0] }}</td>
        </tr>
        <tr>
          <td>Surname</td>
          <td>{{ vm.profile.name.split(' ')[1] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Facebook Profile -->
<div class="profile-area" ng-if="tProfile=='facebook'">
  <div class="text-center">
    <h6>
      <i class="material-icons">person</i>
      <span class="nickname">{{ vm.profile.nickname }}</span>
    </h6>
    <img ng-src="{{ vm.profile.picture }}" class="rounded-circle" alt="avatar" width="200px">
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr class="text-white bg-primary">
          <td>Group member</td>
          <td>{{ vm.profile.name }}</td>
        </tr>
      </thead>
      <tr>
        <td>Name</td>
        <td>{{ vm.profile.given_name }}</td>
      </tr>
      <tr>
        <td>Surname</td>
        <td>{{ vm.profile.family_name }}</td>
      </tr>
      <tr>
        <td>Gender</td>
        <td class="gender">{{ vm.profile.gender }}</td>
      </tr>
    </table>
  </div>

</div>